In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
from IPython.display import display_html, HTML

In [3]:
# pnad = pd.read_csv(r'pnad_selected.csv', low_memory = False, index_col=0)

In [5]:
#seleção de parâmetros
#Ano
#Trimestre
#UF: Unidade Federativa
#V1028: Peso Amostral
#V2007: Sexo
#VD4002: Condição de Ocupação
#essential

# p2020_1 = pnad[pnad['Ano'] == 2020][['Ano','Trimestre','UF','V1028','V2007','VD4002','essential']]
p2020_1 = pd.read_csv(r'pnad/DATABASE2020_1.csv', low_memory = False, index_col=0)

In [6]:
#labels
V2007_label = ['Homem', 'Mulher']
VD4002_label = ['Ocupadas', 'Desocupadas']

In [69]:
ocupadas = p2020_1[p2020_1['VD4002'] == 1]
selected = ['UF','V1028', 'V2007', 'VD4002', 'essential']
ocupadas = ocupadas[selected]
ocupadas

      UF      V1028  V2007  VD4002  essential
Ano
2020  11  139.73422      2     1.0        1.0
2020  11  139.73422      2     1.0        0.0
2020  11  139.73422      1     1.0        1.0
2020  11  139.73422      2     1.0        1.0
2020  11  139.73422      1     1.0        1.0
...   ..        ...    ...     ...        ...
2020  53  126.99645      2     1.0        1.0
2020  53  126.99645      1     1.0        1.0
2020  53  126.99645      2     1.0        1.0
2020  53  126.99645      2     1.0        0.0
2020  53  126.99645      2     1.0        1.0

[203823 rows x 5 columns]

In [71]:
numero_ocupadas = ocupadas = p2020_1[p2020_1['VD4002'] == 1]['V1028'].sum()
round(numero_ocupadas)

92223396.0

In [72]:
#Escolha do UF
uf = 41 #parana
ocupadas_uf = p2020_1[(p2020_1['UF'] == uf) & (p2020_1['VD4002'] == 1)]

In [74]:
# Total de ocupados

numero_ocupadas_uf = round(ocupadas_uf['V1028'].sum())
print (numero_ocupadas_uf)

sexo_uf = pd.DataFrame(round(ocupadas_uf['V1028'].groupby(ocupadas_uf['V2007']).sum()))
sexo_uf

5523645.0

           V1028
V2007
1      3128199.0
2      2395446.0

In [120]:
## Monta 1a linha da tabela

row1 = sexo_uf['V1028'].values.tolist()
row1.append(numero_ocupadas_uf)
new_df = pd.DataFrame([row1], columns=['Homem', 'Mulher', 'Total'])
new_df

       Homem     Mulher      Total
0  3128199.0  2395446.0  5523645.0

In [121]:
# Total de ocupados em atividades essenciais

ocupadas_uf_essenciais = ocupadas_uf[ocupadas_uf['essential'] == 1]
numero_ocupadas_uf_essenciais = round(ocupadas_uf_essenciais['V1028'].sum())
print(numero_ocupadas_uf_essenciais)

sexo_uf_essenciais = pd.DataFrame(round(ocupadas_uf_essenciais['V1028'].groupby(ocupadas_uf_essenciais['V2007']).sum()))
sexo_uf_essenciais

4154602.0

           V1028
V2007
1      2647373.0
2      1507229.0

In [122]:
## Monta 2a linha da tabela

row2 = sexo_uf_essenciais['V1028'].values.tolist()
row2.append(numero_ocupadas_uf_essenciais)
print(row2)

new_df = new_df.append(pd.Series(row2, index=new_df.columns), ignore_index=True)
new_df

[2647373.0, 1507229.0, 4154602.0]
       Homem     Mulher      Total
0  3128199.0  2395446.0  5523645.0
1  2647373.0  1507229.0  4154602.0

In [123]:
def toPercent(x):
    return '{:.1%}'.format(x)

In [124]:
# % do total de ocupados em atividades essenciais

row3 = pd.Series(new_df.iloc[1].values/new_df.iloc[0].values, index=new_df.columns)

new_df = new_df.append(row3.apply(toPercent), ignore_index=True)
new_df

In [129]:
# Verifique se a tabela está correta 

pd.set_option('display.float_format', '{:.0f}'.format)
print(new_df)

    Homem  Mulher   Total
0 3128199 2395446 5523645
1 2647373 1507229 4154602
2   84.6%   62.9%   75.2%

In [138]:
index = pd.Series(['Total de ocupados', 'Total de ocupados em atividade essencial', '% do total de ocupados em atividade essencial'])
new_df = new_df.set_index(index)
new_df.to_excel(r'parana.xlsx')

In [144]:
cods = [11,12,13,14,15,16,17,21,22,23,24,25,26,27,28,29,31,32,33,35,41,42,43,50,51,52,53]
ufs = ['Rondônia','Acre','Amazonas','Roraima','Pará','Amapá','Tocantins','Maranhão','Piauí','Ceará','Rio Grande do Norte','Paraíba','Pernambuco','Alagoas','Sergipe','Bahia','Minas Gerais','Espírito Santo','Rio de Janeiro','São Paulo','Paraná','Santa Catarina','Rio Grande do Sul','Mato Grosso do Sul','Mato Grosso','Goiás','Distrito Federal']
final = pd.DataFrame(index=ufs)

In [147]:
dict = {11:'Rondônia',
12:'Acre',
13:'Amazonas',
14:'Roraima',
15:'Pará',
16:'Amapá',
17:'Tocantins',
21:'Maranhão',
22:'Piauí',
23:'Ceará',
24:'Rio Grande do Norte',
25:'Paraíba',
26:'Pernambuco',
27:'Alagoas',
28:'Sergipe',
29:'Bahia',
31:'Minas Gerais',
32:'Espírito Santo',
33:'Rio de Janeiro',
35:'São Paulo',
41:'Paraná',
42:'Santa Catarina',
43:'Rio Grande do Sul',
50:'Mato Grosso do Sul',
51:'Mato Grosso',
52:'Goiás',
53:'Distrito Federal'}

{11: 'Rondônia',
 12: 'Acre',
 13: 'Amazonas',
 14: 'Roraima',
 15: 'Pará',
 16: 'Amapá',
 17: 'Tocantins',
 21: 'Maranhão',
 22: 'Piauí',
 23: 'Ceará',
 24: 'Rio Grande do Norte',
 25: 'Paraíba',
 26: 'Pernambuco',
 27: 'Alagoas',
 28: 'Sergipe',
 29: 'Bahia',
 31: 'Minas Gerais',
 32: 'Espírito Santo',
 33: 'Rio de Janeiro',
 35: 'São Paulo',
 41: 'Paraná',
 42: 'Santa Catarina',
 43: 'Rio Grande do Sul',
 50: 'Mato Grosso do Sul',
 51: 'Mato Grosso',
 52: 'Goiás',
 53: 'Distrito Federal'}

In [152]:
for uf in dict:
    #Seleciona ocupados
    ocupadas_uf = p2020_1[(p2020_1['UF'] == uf) & (p2020_1['VD4002'] == 1)]

    #Total de ocupados
    numero_ocupadas_uf = round(ocupadas_uf['V1028'].sum())
    sexo_uf = pd.DataFrame(round(ocupadas_uf['V1028'].groupby(ocupadas_uf['V2007']).sum()))

    ##Monta 1a linha da tabela
    row1 = sexo_uf['V1028'].values.tolist()
    row1.append(numero_ocupadas_uf)
    new_df = pd.DataFrame([row1], columns=['Homem', 'Mulher', 'Total'])

    #Total de ocupados em atividades essenciais
    ocupadas_uf_essenciais = ocupadas_uf[ocupadas_uf['essential'] == 1]
    numero_ocupadas_uf_essenciais = round(ocupadas_uf_essenciais['V1028'].sum())

    sexo_uf_essenciais = pd.DataFrame(round(ocupadas_uf_essenciais['V1028'].groupby(ocupadas_uf_essenciais['V2007']).sum()))

    ##Monta 2a linha da tabela
    row2 = sexo_uf_essenciais['V1028'].values.tolist()
    row2.append(numero_ocupadas_uf_essenciais)
    new_df = new_df.append(pd.Series(row2, index=new_df.columns), ignore_index=True)

    # % do total de ocupados em atividades essenciais
    row3 = pd.Series(new_df.iloc[1].values/new_df.iloc[0].values, index=new_df.columns)
    new_df = new_df.append(row3.apply(toPercent), ignore_index=True)

    #Setando index e exportando
    index = pd.Series(['Total de ocupados', 'Total de ocupados em atividade essencial', '% do total de ocupados em atividade essencial'])
    new_df = new_df.set_index(index)
    new_df.to_excel('/raquel/'+dict.get(uf)+'.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: '/raquel/Rondônia.xlsx'